<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <a href="../index.html">Retour Accueil</a>
    <header>
        <img src="\img\logos\ohmyfood.png" alt="logo site web Oh My Food">
        <img src="\img\logos\toa-heftiba-DQKerTsQwi0-unsplash.jpg" alt="photo restaurant A la française"/>
    </header>   
    <section>
    <div>
        A la française
        <i class="far fa-heart"></i>
    </div>

    <div>Entrées</div>

    <div>
        <div>Tartare de poulpe acidulé</div>
        <div>Aux zestes d'orange</div>
        <div>25€</div>
    </div>

    <div>   
        <div>Velouté de légumes d'antan</div>
        <div>Carotte, panais, topinambour</div>
        <div>35€</div>
    </div>

    <div> 
        <div>Soupe à l'oignon</div>
        <div>Revisitée</div>
        <div>20€</div>
    </div>
    

    <div>Plats</div>
     
    <div>
        <div>Coquilles Saint-Jacques</div>
        <div>Accompagnées d'une purée de panais</div>
        <div>40€</div>
    </div>
    
    <div>
        <div>Magret de canard</div>
        <div>Et parmentier de pommes de terre</div>
        <div>35€</div>
    </div>

    <div>
        <div>Pigeonneau d’Ille-et-Vilaine</div>
        <div>Sur son lit de gnocchis aux légumes</div>
        <div>44€</div>
    </div>

    <div>Desserts</div>
    
    <div>
        <div>Pétales de violettes glacés</div>
        <div>Et purée de noisettes</div>
        <div>18€</div>
    </div>

    <div>  
        <div>Fondant au chocolat</div>
        <div>Revisité</div>
        <div>22€</div>
    </div>
    
    <div>
        <div>Millefeuille croustillant</div>
        <div>Myrtilles et pâte d’amande</div>
        <div>23€</div>
    </div>

        <input type="button" value="Commander">
  </section>

  <footer>
    <div>
        <img src="\img\logos\ohmyfood.png" alt="logo site web Oh My Food">
    </div>
    <div>
        <ul>
            <i class="fas fa-utensils"></i><li>Proposer un restaurant</li>
            <i class="fas fa-hands-helping"></i><li>Devenir partenaire</li>
            <li>Mentions légales</li>
            <li>Contact</li>
        </ul>
    </div>
</footer>   
</body>
</html>