<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <a href="../index.html">Retour Accueil</a>
    <header>
        <img src="\img\logos\ohmyfood.png" alt="logo site web Oh My Food">
        <img src="\img\logos\louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg" alt="photo restaurant Le délice des sens"/>
    </header>   
    <section>
    <div>
        Le délice des sens
        <i class="far fa-heart"></i>
    </div>

    <div>Entrées</div>

    <div>
        <div>Tartare de thon</div>
        <div>Assaisonné au yuzu</div>
        <div>25€</div>
    </div>

    <div>   
        <div>Bouchée de homard croustillant</div>
        <div>Et sa farandole de petits légumes</div>
        <div>35€</div>
    </div>

    <div> 
        <div>Velouté de cèpes</div>
        <div>Aux truffes</div>
        <div>20€</div>
    </div>   

    <div>Plats</div>
     
    <div>
        <div>Poulet rôti aux herbes de Provence</div>
        <div>Et sa crème de truffe</div>
        <div>40€</div>
    </div>
    
    <div>
        <div>Langouste rôtie</div>
        <div>Et ses légumes de saison</div>
        <div>35€</div>
    </div>

    <div>
        <div>Côte de boeuf Angus</div>
        <div>Et sa purée de panais</div>
        <div>44€</div>
    </div>

    <div>Desserts</div>
    
    <div>
        <div>Farandole de desserts</div>
        <div>Du chef</div>
        <div>18€</div>
    </div>

    <div>  
        <div>Crème brulée </div>
        <div>Revisitée</div>
        <div>22€</div>
    </div>
    
    <div>
        <div>Tiramisu </div>
        <div>À la noisette</div>
        <div>23€</div>
    </div>

        <input type="button" value="Commander">
  </section>

  <footer>
    <div>
        <img src="\img\logos\ohmyfood.png" alt="logo site web Oh My Food">
    </div>
    <div>
        <ul>
            <i class="fas fa-utensils"></i><li>Proposer un restaurant</li>
            <i class="fas fa-hands-helping"></i><li>Devenir partenaire</li>
            <li>Mentions légales</li>
            <li>Contact</li>
        </ul>
    </div>
</footer>   
</body>
</html>